*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;  //   1rem = 10px
    @include respond(desktop){
        font-size: 56.25%; // 1rem = 8px
    }
    @include respond(tab-land){
        font-size: 51%;
    }
    @include respond(tab-port){
        font-size: 47%;
    }
    @include respond(phone){
        font-size: 42%;
    }
}

body {
    // padding: 3rem;
    // @include respond(tab-port){
    //     padding: 0rem;
    // }
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    color: #777;
    overflow-x: hidden;
}

.bowl{
    width: 90rem;
    @include respond(tab-land){
        width: 80rem;
    }

    @include respond(phone){
        width: 70rem;
    }

}