.rolls{
  padding: 10rem 15rem 0;
  background-color: #f5f5f5 !important;
  @include respond(desktop){
    padding: 10rem 20rem 2rem;
  }  
  @include respond(tab-land){
    padding: 10rem 15rem 2rem;
  }
  @include respond(tab-port){
    padding: 10rem 5rem 2rem;
  }
  @include respond(phone){
    padding: 10rem 2rem 2rem;
  }
  &_title{
    font-size: 4.8rem;
    font-weight: 700;
    font-style: normal;
    color: #242424;
    text-align: center;
    margin: 10rem;
  }
  &_card{
    background-color: #fff;
    padding: 3rem 1rem;
  }
  &_bg{
    text-align: center;
    padding: 8rem 0 0;
  }
}